@media(max-width: 1080px){
    .header-desktop, .banner-desktop, .row-categories, .banner-description, .products-block-desktop, .footer, .darkness{
        display: none;
    }
    .header-mobile{
        display: flex;
        height: 60px;
    }
    .banner-mobile, .video-mobile, .search-mobile, .products-block-mobile, .video-mobile, .mobile-delivery-button, .footer-mobile{
        display: block;
    }
    .buttons-mobile, .banner-description-mobile{
        display: flex;
    }
    ::-webkit-scrollbar{
        height: 0px;
    }
}
@media(min-width: 1080px){
    .header-mobile, .banner-mobile, .search-mobile, .video-mobile, .products-block-mobile, .buttons-mobile, .banner-description-mobile, .mobile-delivery-button, .footer-mobile{
        display: none;
    }
}
@supports (-webkit-touch-callout: none){
    @media(max-width: 380px){
        .video-buttons-mobile button, .player-buttons-mobile button{
            padding: 0px 10px 0px 10px !important;
            margin: 0 !important;
        }
    }
}
@supports not (-webkit-touch-callout: none) {
    @media(min-width: 380px){
        .player-buttons-mobile button{
            margin-right: 7px;
        }
    }
}
/*


@media(max-width: 380px){

    @supports (-webkit-touch-callout: none) {
        .video-buttons-mobile button, .player-buttons-mobile button{
            padding: 0px 10px 0px 10px !important;
            margin: 0 !important;
        }
    }
    @supports not (-webkit-touch-callout: none) {
        .player-buttons-mobile button{
            margin-right: 7px;
        }
    }

}

@media(max-width: 380px){
    .player-buttons-mobile button{
        margin-right: 8px !important;

    }
    .pause-btn{
        width: 30px !important;
    }
    .pause-btn img{
        width: 100%;
    }
    .volume-line-mobile{
        width: 46px;
    }
}*/