.most-popular {
  margin-top: 21px !important;
}

a {
  text-decoration: none !important;
  color: #000 !important;
}

button {
  border: none;
}

.logo, .delivery span {
  color: #429F3A;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo img {
  vertical-align: bottom !important;
  margin-bottom: 10px;
  top: 3px;
  right: 2px;
  width: 27px;
  position: relative;
}

.logo-text {
  top: 6px !important;
}

.logo-text, .mobile-logo-text {
  position: relative;
  top: 21px;
  font-size: 22px;
  line-height: 18px;
  color: #429F3A;
  font-weight: 500;
}

.logo-text span, .mobile-logo-text span {
  display: block;
  color: #429F3A;
  font-weight: 500;
  font-size: 10px;
  line-height: 18px;
}

.delivery {
  position: relative;
  top: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  margin-left: 87px;
}

.header-desktop {
  margin: auto;
}

.container {
  max-width: 1096px !important;
}

.header-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mobile-logo {
  display: -webkit-box;
  margin-left: 12px;
}

.mobile-logo .mobile-logo-image {
  width: 23px;
  margin-left: 3px;
  position: relative;
  top: 5px;
}

.mobile-images-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  right: 34px;
  top: 19px;
}

.mobile-person-block {
  margin-right: 26px;
}

.header-search-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #043e44;
  border-radius: 10px;
  color: #fff;
  padding: 4px 4px 4px 14px;
  margin-bottom: 17px;
}

.header-search-menu .search-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 24px;
  width: 405px;
  height: 41px;
  border: none;
  border-radius: 11px;
  padding: 11px 44px 12px 22px;
  font-size: 14px;
  ine-height: 18px;
}

.header-search-menu .search-icon {
  position: relative;
  top: -1px;
  left: -41px;
}

.header-search-menu .header-catalog {
  margin-left: 26px;
  font-size: 15px;
  line-height: 18px;
  font-style: normal;
  font-weight: 300;
}

.header-search-menu .hamburger-image {
  height: 14px;
  margin-left: 5px;
}

.header-search-menu .delivery-button {
  padding: 6px 38px 6px 40px;
  background: rgba(206, 195, 195, 0.2);
  border-radius: 5px;
  color: #fff;
  height: 30px;
  font-size: 13px;
  line-height: 18px;
}

.header-search-menu .delivery-button span {
  margin-left: 6px;
}

.person-block, .packet-block, .price-block {
  margin-left: 23px;
}

.person-block img, .packet-block img {
  height: 24px;
}

.row-categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 17px;
}

.item-selected a {
  color: #ED6E1E !important;
}

.menu-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 31px;
  padding: 0 15px;
  font-size: 14px;
  border-right: 0.7px solid #ABAAAA;
}

.links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  left: 238px;
  top: 7px;
}

.button-mobile-text {
  position: relative;
  bottom: 7px;
}

.last-link {
  border: none !important;
}

.categories-btn {
  border-radius: 5px;
  width: 24px;
  height: 24px;
  top: calc(50% - 12px);
}

.left-button {
  margin-right: 21px;
  background: url("../img/svg/left-arrow.svg") no-repeat no-repeat 50% 50% #429F3A;
}

.right-button {
  margin-left: auto;
  background: url("../img/svg/right-arrow.svg") no-repeat no-repeat 50% 50% #429F3A;
}

.row-categories-items {
  display: block;
}

.slick-slide {
  display: inline-block;
  margin-right: 25px;
  font-size: 14px;
}

.flex-container, .content-social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.banner-image {
  width: 150%;
  max-width: 858px;
  height: 295px;
  background-image: url("../img/second-slide.png");
}

.mobile-banner-image {
  height: 200px;
  background-image: url("../img/second-slide-mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.banner-image-text {
  display: inline-block;
  font-size: 24px;
  line-height: 30px;
  color: #fff;
  font-weight: 600;
  text-align: center;
  margin-left: 509px;
  margin-top: 85px;
}

.mobile-banner-image-text {
  display: inline-block;
  position: relative;
  top: 55px;
  left: 13px;
  color: #07111D;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.mobile-banner-image-text span {
  color: #429F3A;
}

.mobile-banner-image-logo {
  position: relative;
  top: 4px;
  right: -3px;
}

.banner-image-logo {
  margin-top: 17px;
  margin-left: 12px;
}

.scroll-list-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F2F2F2;
  margin-bottom: 1px;
  height: 48px;
  padding-left: 14px;
  font-size: 14px;
}

.scroll-list-block-selected-index {
  position: relative;
  left: -14px;
  height: 100%;
  width: 4px;
  background-color: #ED6E1E;
}

.banner-scroll {
  height: 295px;
  width: 36%;
  overflow: overlay;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #DDD9D9;
}

::-webkit-scrollbar-thumb {
  background: #429F3A;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.banner-description {
  margin-top: 5px;
  margin-bottom: 21px;
}

.description-items {
  position: relative;
  left: 57px;
  top: 4px;
}

.description-item {
  display: inline-block;
  border-right: 0.7px solid #ABAAAA;
  padding-right: 17px;
  padding-left: 381px;
  font-size: 14px;
  line-height: 18px;
  height: 21px;
}

.description-item-last {
  display: inline-block;
  padding-left: 17px;
  border: none;
}

.document-arrow-button-left {
  background: url("../img/arrows/white_left_arrow.png") no-repeat no-repeat 50% 50% #ECEBEB;
  border-radius: 5px 0px 0px 5px;
}

.banner-left {
  background: url("../img/banner_back_arrow.png") no-repeat no-repeat 50% 50% #ECEBEB;
}

.document-arrow-button-right {
  background: url("../img/arrows/white_right_arrows.png") no-repeat no-repeat 50% 50% #ED6E1E;
  border-radius: 0px 5px 5px 0px;
}

.document-arrow-button {
  width: 40px;
  height: 35px;
}

.header-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

.banner-buttons {
  float: right;
  position: relative;
  top: 244px;
  right: 10px;
}

.slider-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 17px;
}

.header-title {
  font-size: 24px;
  line-height: 18px;
  font-weight: 400;
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slide {
  width: 250px;
  height: 381px;
  margin-right: 24px;
}

.slide-photo {
  height: 234px;
  background-repeat: no-repeat;
}

.slide-photo img {
  margin-left: 213px;
  margin-top: 15px;
  cursor: pointer;
}

.slide-descr {
  border-radius: 0px 0px 10px 10px;
  border: 1px solid #DEDEDE;
  padding-left: 12px;
  max-width: 248px;
  height: 146px;
}

.slide-descr-title {
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  margin-top: 14px;
  margin-bottom: 7px;
}

.slide-descr-seller {
  font-size: 12px;
  line-height: 18px;
  color: #89817F;
  margin-bottom: 29px;
}

.last-slide {
  margin-right: 0 !important;
}

#milk {
  background-image: url("../img/milk.png");
}

#bread {
  background-image: url("../img/bread.png");
}

#eggs {
  background-image: url("../img/eggs.png");
}

#oil {
  background-image: url("../img/oil.png");
}

#duck {
  background-image: url("../img/duck_meat.png");
}

#chicken {
  background-image: url("../img/chicken_soup.png");
}

#tomat-b {
  background-image: url("../img/baku_tomatos.png");
}

#beef {
  background-image: url("../img/ground_beef.png");
}

#cheese {
  background-image: url("../img/cheese.png");
}

#yogurt {
  background-image: url("../img/yogurt.png");
}

#forest_yogurt {
  background-image: url("../img/forest_yogurt.png");
}

#radish {
  background-image: url("../img/radish.png");
}

#apples {
  background-image: url("../img/apples.png");
}

#carrot {
  background-image: url("../img/carrot.png");
}

#care-slide-1 {
  background-image: url("../img/care-slide-1.png");
}

#care-slide-2 {
  background-image: url("../img/care-slide-2.png");
  margin-left: auto;
}

.rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 13px;
}

.star {
  margin-right: 3px;
}

.price-text {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: #a69895;
}

.price-text span {
  font-weight: 600;
  font-size: 20px;
  line-height: 18px;
  color: #3D3C3C;
}

.slide-descr-price {
  display: inline-block;
}

.slide-descr-backet {
  position: relative;
  bottom: 10px;
  background-color: #429F3A;
  display: inline-block;
  width: 63px;
  height: 36px;
  border-radius: 50px 0px 0px 50px;
  float: right;
}

.slide-descr-backet img {
  width: 24px;
  margin-left: 21px;
  margin-top: 6px;
}

.video-block {
  margin-top: 50px;
}

.video-block .video-block-element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 370px;
  background-image: url("../img/preview.png");
  margin-top: 26px;
}

.recipes {
  width: 50%;
  margin-right: 21px;
}

.recipes .slide-image {
  width: 100%;
}

.recipes .recipes-image {
  height: 381px;
  background-image: url("../img/rabbits.png");
}

.recipes .recipes-image .recipes-image-bottom {
  margin-top: 202px;
  display: inline-block;
  width: 100%;
}

.recipes .recipes-image .recipes-image-bottom .recipes-image-ingredients {
  display: inline-block;
  background: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
  border-radius: 5px;
  position: relative;
  left: 27px;
  top: -16px;
  height: 80px;
  padding-top: 15px;
  padding-left: 22px;
}

.recipes .recipes-image .recipes-image-bottom .recipes-image-ingredients button {
  background: none;
  width: 21px;
}

.recipes .recipes-image .recipes-image-bottom .recipes-image-ingredients img {
  margin-right: 20px;
}

.recipes .recipes-image .recipes-image-bottom .recipes-image-button {
  display: inline-block;
  position: relative;
  left: 43px;
  bottom: 17px;
}

.recipes .recipes-image .recipes-image-bottom .recipes-image-button button {
  border-radius: 5px;
  padding: 10px 11px 10px 16px;
  color: #fff;
  background-color: #429F3A;
  height: 39px;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
}

#img-last {
  margin: 0;
}

.red_price {
  color: #FC1F1C !important;
}

.ZOZH {
  width: 50%;
}

.ZOZH .ZOZH-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.products-block {
  margin-top: 50px;
}

.old-price {
  position: relative;
  font-size: 13px;
  color: #000;
  font-weight: normal;
  width: 43px;
}

.old-price:before {
  content: "";
  border-bottom: 2px solid rgba(252, 31, 28, 0.7);
  position: absolute;
  top: 1px;
  width: 90%;
  height: 50%;
  -webkit-transform: rotate(-5deg);
          transform: rotate(-5deg);
}

.discounted-price {
  position: relative;
  bottom: 19px;
}

.care-slide {
  height: 242px;
  width: 50%;
  max-width: 522px;
  background-repeat: no-repeat;
}

.care-slide .case-slide-inscription {
  display: inline-block;
  margin-top: 88px;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #043E44;
  margin-left: 25px;
}

.care-slide-description {
  display: inline-block;
  float: right;
  margin-top: 104px;
  text-align: center;
  margin-right: 9px;
  max-width: 160px;
}

.care-slide-description .care-slide-description-block {
  margin-bottom: 10px;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 5px;
  display: inline-block;
  padding: 1px 9px;
}

.question-slide {
  width: 250px;
  height: 194px;
  background: #F9F9F9;
  border: 1px solid #ECEBEB;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  padding-top: 73px;
  padding-left: 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin-right: 22px;
}

.provider-slide {
  border: 1px solid #ECEBEB;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 8px;
  padding: 29px 15px 15px 15px;
  max-width: 340px;
  margin-right: 23px;
}

.provide-slide-header-name {
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
}

.provide-slide-header-specialization {
  font-size: 12px;
  line-height: 18px;
  color: #6A6766;
}

.provider-slide-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.provider-slide-images img {
  border-radius: 8px;
  margin-right: 10px;
  width: 150px;
  height: 144px;
}

.provider-slide-header-avatar, .provider-slide-header-description {
  display: inline-block;
}

.about-company {
  margin-top: 57px;
}

.about-company-content {
  background: #F9F9F9;
  border-radius: 10px;
  padding: 39px 95px 39px 18px;
}

.about-company-contenr-text {
  font-size: 14px;
  line-height: 24px;
  color: #444444;
}

.about-company-contenr-text span {
  font-weight: 500;
}

.text-header {
  margin-top: 20px;
  margin-bottom: 12px;
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  color: #444444;
}

.footer {
  height: 602px;
}

.footer-image {
  background-image: url("../img/farm.png");
  height: 158px;
  position: relative;
  top: 22px;
}

.footer-body {
  position: relative;
  bottom: 19px;
  background-color: #4D9221;
  height: 473px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-content {
  margin-top: 78px;
}

#content-column-1 {
  position: relative;
  right: 77px;
}

#content-column-2 {
  position: relative;
  left: 55px;
}

#content-column-3 {
  margin-left: 152px;
  position: relative;
  left: 96px;
}

#content-column-4 {
  margin-left: 210px;
  position: relative;
  left: 61px;
}

.footer-content-header {
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  color: #fff;
  margin-bottom: 24px;
}

.content-text {
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #fff;
  margin-bottom: 17px;
}

.content-social-link {
  position: relative;
  right: 14px;
  bottom: 10px;
}

.content-app-links {
  margin-top: 37px;
}

.content-app-links div {
  margin-bottom: 27px;
}

.content-payment {
  margin-top: 19px;
}

.content-payment img {
  margin-right: 13px;
}

.content-pay-btn {
  margin-top: 13px;
}

.content-pay-btn img {
  margin-right: 13px;
}

.most-popular-title {
  position: relative;
  right: 3px;
  top: 8px;
}

.recipes-image-header {
  background: rgba(255, 255, 255, 0.3);
  text-align: center;
  font-weight: 500;
  font-size: 24px;
  line-height: 18px;
  width: 460px;
  height: 80px;
  border-radius: 8px;
  position: relative;
  top: 43px;
  left: 25px;
  color: #fff;
  padding-top: 31px;
}

.footer-bottom {
  position: absolute;
  bottom: 0;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-bottom-content {
  position: relative;
  bottom: 33px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 64%;
  border-top: 1px solid rgba(216, 204, 204, 0.79);
}

.footer-bottom-copyright {
  position: relative;
  top: 17px;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
}

.footer-bottom-links {
  position: absolute;
  right: 0;
  top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
}

#footer-bottom-links-item-1 {
  position: relative;
  right: 264px;
}

#footer-bottom-links-item-2 {
  position: relative;
  right: 194px;
}

.mobile-hamburger-image {
  padding-top: 17px;
  padding-left: 21px;
  width: 60px;
  border-right: 1px solid rgba(181, 178, 181, 0.25);
}

.search-mobile {
  border-bottom: 1px solid rgba(181, 178, 181, 0.25);
  height: 54px;
}

.search-mobile input {
  border: none;
  height: 100%;
  width: 86%;
  float: right;
  font-size: 14px;
}

.search-mobile img {
  position: relative;
  top: 13px;
  left: 21px;
}

.buttons-mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 31px;
}

.button-mobile {
  width: 94px;
  height: 92px;
  background: rgba(80, 177, 53, 0.8);
  -webkit-box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: center;
  color: #fff;
  margin-right: 27px;
  font-weight: 500;
  font-size: 13px;
  line-height: 17px;
  padding-top: 16px;
}

.button-mobile img {
  margin-bottom: 14px;
}

.button-mobile-last {
  margin-right: 0;
}

.video-mobile {
  margin-top: 46px;
}

.video-mobile .header-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  margin-left: 20px;
  margin-bottom: 19px;
}

.video-mobile .video-block-element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 251px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url("../img/preview.png");
  margin-left: 20px;
  margin-right: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 8px;
}

.video-mobile .video-block-element .video-block-play-button img {
  word-wrap: 100px;
  height: 100px;
}

.product-block-mobile {
  margin-top: 40px;
}

.mobile-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  overflow-x: auto;
  height: 216px;
}

.mobile-slider, .mobile-slider-header {
  margin-left: 20px;
  margin-right: 20px;
}

.mobile-slide {
  -webkit-box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  display: inline-block;
  padding-right: 21px;
  margin-right: 16px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  height: 190px;
  margin-top: 5px;
  margin-left: 5px;
}

.mobile-slider-header {
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  color: #121212;
  margin-bottom: 25px;
}

.mobile-slide-info {
  display: inline-block;
  position: relative;
  top: 28px;
}

.mobile-slide-info-header {
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
}

.mobile-slide-info-seller {
  font-size: 11px;
  line-height: 18px;
}

.mobile-slide-info-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}

.mobile-old-price {
  color: #ED6E1E;
}

.mobile-old-price::before {
  content: "";
  border-bottom: 2px solid rgba(252, 31, 28, 0.7);
  position: absolute;
  top: 4px;
  left: -12px;
  width: 48px;
  height: 50%;
  -webkit-transform: rotate(-13deg);
          transform: rotate(-13deg);
}

.mobile-price {
  position: relative;
  left: 41px;
}

.mobile-price span {
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  color: #444444;
}

.mobile-backet {
  width: 160px;
  height: 46px;
  background: #FFFFFF;
  border: 0.7px solid #DEDEDE;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  color: #429F3A;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  position: relative;
  top: 21px;
}

.banner-description-mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 40px;
  position: relative;
  bottom: 23px;
}

.banner-description-mobile .item {
  text-align: center;
  border-right: 1px solid #DEDEDE;
  padding-left: 7px;
  padding-right: 6px;
  font-size: 13px;
  line-height: 20px;
}

.mobile-care-slide {
  margin-left: 20px !important;
  margin-right: 20px !important;
  margin-bottom: 25px;
  height: 222px;
  background-repeat: no-repeat;
  background-size: cover;
}

.moble-case-slide-inscription {
  position: relative;
  top: 70px;
  left: 10px;
  display: inline-block;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: #043E44;
}

.mobile-care-slide-description {
  display: inline-block;
  position: relative;
  float: right;
  top: 57px;
  right: 7px;
  text-align: right;
}

.mobile-care-slide-description .care-slide-description-block {
  display: inline-block;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 1px 9px 1px 8px;
}

.question-mobile-slide {
  background: #F9F9F9;
  border: 1px solid #ECEBEB;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  width: 250px;
  height: 194px;
  padding: 73px 25px 73px 30px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  margin-right: 21px;
}

.question-mobile-slide-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #043E44;
}

.mobile-delivery-button {
  margin-left: 63px;
  margin-right: 63px;
  margin-top: 44px;
}

.mobile-delivery-button button {
  width: 100%;
  height: 43px;
  background: #ED6E1E;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  position: relative;
  bottom: 16px;
}

.item-image {
  height: 28px;
}

.footer-image-mobile {
  background-image: url("../img/farm-mobile.png");
  height: 71px;
  position: relative;
  top: 12px;
}

.footer-body-mobile {
  background-color: #4D9221;
  height: 405px;
  padding: 15px 20px 15px 21px;
}

.footer-content-mobile {
  display: inline-block;
}

.content-mobile-text {
  color: #fff;
  margin-bottom: 19px;
  font-size: 14px;
}

.content-mobile-text img {
  margin-right: 5px;
}

#mobile-colimn-1 {
  float: left;
  width: 50%;
}

#mobile-colimn-2 {
  float: right;
  text-align: right;
}

.footer-body-mobile-top {
  display: flow-root;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.footer-body-mobile-bottom {
  display: flow-root;
  padding-top: 25px;
}

.content-mobile-app-link {
  margin-bottom: 32px;
  position: relative;
  bottom: 3px;
  right: 13px;
}

.content-mobile-payment {
  margin-bottom: 3px;
  position: relative;
  bottom: 9px;
  right: 6px;
}

.content-mobile-payment .visa {
  position: relative;
  right: 11px;
}

.mobile-content-descr {
  font-weight: 500;
  font-size: 11px;
  line-height: 20px;
  color: #fff;
}

.count-of-products {
  position: relative;
  text-align: center;
  bottom: 31px;
  left: 20px;
  background-color: #EC6E1E;
  color: #fff;
  font-weight: 500;
  font-size: 9px;
  line-height: 16px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
}

.new-products-mobile {
  position: relative;
  bottom: 9px;
}

.apple-pay {
  position: relative;
  right: 9px;
}

.mobile-content-social-link {
  position: relative;
  right: 21px;
  top: -6px;
  width: 251px;
}

#vk {
  position: relative;
  right: 12px;
}

#facebook {
  position: relative;
  right: 25px;
}

#link {
  position: relative;
  right: 39px;
}

.mobile-banner-pages {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 13px;
  top: 237px;
}

.page-item {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #C4C4C4;
  -webkit-box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.1);
  margin-left: 7px;
}

.page-item-selected {
  background-color: #EC6E1E;
}

.banner-image-second-text {
  position: relative;
  left: 39px;
  bottom: 6px;
  display: inline-block;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  margin-left: 36px;
  margin-top: 100px;
}

.banner-image-second-text span {
  color: #429F3A;
  font-size: 19px;
  margin-left: 43px;
}
/*# sourceMappingURL=style.css.map */