@media(max-width: 1080px){
    .header-desktop, .banner-desktop, .row-categories, .banner-description, .products-block-desktop, .footer{
        display: none;
    }
    .header-mobile{
        display: flex;
        height: 60px;
    }
    .banner-mobile, .video-mobile, .search-mobile, .products-block-mobile, .video-mobile, .mobile-delivery-button, .footer-mobile, .mobile-main-menu{
        display: block;
    }
    .buttons-mobile, .banner-description-mobile{
        display: flex;
    }
    ::-webkit-scrollbar{
        height: 0px;
    }
}
@media(min-width: 1080px){
    .header-mobile, .banner-mobile, .search-mobile, .video-mobile, .products-block-mobile, .buttons-mobile, .banner-description-mobile, .mobile-delivery-button, .footer-mobile, .mobile-main-menu{
        display: none;
    }
}